@using System.ComponentModel.DataAnnotations
@inject AppDbContext Db

<EditForm Model="Model" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-grid">
        <label>Member #</label>
        <InputNumber @bind-Value="Model.MemberNo" />

        <label>Last name</label>
        <InputText @bind-Value="Model.LastName" />

        <label>First name</label>
        <InputText @bind-Value="Model.FirstName" />

        <label>Middle name</label>
        <InputText @bind-Value="Model.MiddleName" />

        <label>Address</label>
        <InputText @bind-Value="Model.Address" />

        <label>City/State</label>
        <InputText @bind-Value="Model.CityState" />

        <label>Zip code</label>
        <InputNumber @bind-Value="Model.ZipCode" />

        <label>Zip ext</label>
        <InputNumber @bind-Value="Model.ZipExt" />

        <label>Same address (0/1)</label>
        <InputNumber @bind-Value="Model.SameAdr" />

        <label>Congregation #</label>
        <InputNumber @bind-Value="Model.CongrNum" />

        <label>Congregation #2</label>
        <InputNumber @bind-Value="Model.CongrNum2" />

        <label>Ordination date</label>
        <InputDate @bind-Value="Model.OrdinDate" />

        <label>Subscription date</label>
        <InputDate @bind-Value="Model.SubscrDate" />

        <label>Area code</label>
        <InputText @bind-Value="Model.AreaCode" />

        <label>Phone</label>
        <InputText @bind-Value="Model.PhoneNo" />

        <label>Email</label>
        <InputText @bind-Value="Model.EmailAdr" />
    </div>

    <div class="buttons">
        <button type="submit">Save</button>
        <button type="button" @onclick="OnCancel">Cancel</button>
    </div>
</EditForm>


	@code {
		[Parameter] public Member Model { get; set; } = default!;
		[Parameter] public EventCallback OnSaved { get; set; }
		[Parameter] public EventCallback OnCancel { get; set; }

		async Task Save()
		{
			var exists = await Db.Members.AnyAsync(m => m.MemberNo == Model.MemberNo);
			if (!exists)
			{
				Db.Members.Add(Model);
			}
			else
			{
				Model.UpdatedUtc = DateTime.UtcNow;
				Db.Members.Update(Model);
			}

			await Db.SaveChangesAsync();
			if (OnSaved.HasDelegate) await OnSaved.InvokeAsync();
		}
	}
}
