@using System.ComponentModel.DataAnnotations
@inject AppDbContext Db

<EditForm Model="Model" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-grid">
            <label>Member # (business key)</label>
            <InputNumber @bind-Value="Model.MemberNo" />

            <label>Last name</label>
            <InputText @bind-Value="Model.LastName" />

            <label>First name</label>
            <InputText @bind-Value="Model.FirstName" />

            <label>Middle name</label>
            <InputText @bind-Value="Model.MiddleName" />

            <label>Address 1</label>
            <InputText @bind-Value="Model.Address1" />

            <label>Address 2</label>
            <InputText @bind-Value="Model.Address2" />

            <label>City</label>
            <InputText @bind-Value="Model.City" />

            <label>State</label>
            <InputText @bind-Value="Model.State" />

            <label>Foreign address</label>
            <InputText @bind-Value="Model.ForeignAddress" />

            <label>Zip code</label>
            <InputNumber @bind-Value="Model.ZipCode" />

            <label>Zip ext</label>
            <InputNumber @bind-Value="Model.ZipExt" />

            <label>Same address (0/1)</label>
            <InputNumber @bind-Value="Model.SameAdr" />

            <label>Congregation #</label>
            <InputNumber @bind-Value="Model.CongrNum" />

            <label>Congregation #2</label>
            <InputNumber @bind-Value="Model.CongrNum2" />

            <label>Ordination date</label>
            <InputDate @bind-Value="Model.OrdinDate" />

            <label>Subscription date</label>
            <InputDate @bind-Value="Model.SubscrDate" />

            <label>Area code</label>
            <InputText @bind-Value="Model.AreaCode" />

            <label>Phone</label>
            <InputText @bind-Value="Model.PhoneNo" />

            <label>Email</label>
            <InputText @bind-Value="Model.EmailAdr" />
    </div>

    <div class="buttons">
        <button type="submit">Save</button>
        <button type="button" @onclick="OnCancel">Cancel</button>
    </div>
</EditForm>


	@code {
		[Parameter] public Member Model { get; set; } = default!;
		[Parameter] public EventCallback OnSaved { get; set; }
		[Parameter] public EventCallback OnCancel { get; set; }

		async Task Save()
		{
        // PK is identity: if 0 -> new, else update
        if (Model.MemberPkId == 0)
        {
            Db.Members.Add(Model);
        }
        else
        {
            Db.Members.Update(Model);
        }
        await Db.SaveChangesAsync();
        if (OnSaved.HasDelegate) await OnSaved.InvokeAsync();
		}
	}
}
